html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: rgb(177, 109, 31);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    overflow-x: hidden;
}



header{
    background-color: burlywood;
    width: 100%;
    color: black;
    animation-iteration-count: infinite;
    animation-name: headerAnimation;
    animation-duration: 15s;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    
}

@keyframes headerAnimation{
  0%   {background-color:burlywood; color: black;}
  25%  {background-color: rgb(185, 150, 103); color: black;}
  50%  {background-color:rgb(146, 111, 66); color: black;}
  75%  {background-color:rgb(100, 71, 33); color: black;}
  100% {background-color:burlywood; color: black;}
}

h1{
    text-align: center;
    font-size: 26px;
    /* position: relative; */
    /* animation-name: headerMovement;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
    /* white-space: normal; */
}
/* 
@keyframes headerMovement{
    0% {left: 0%;}
    50% {left: 40%;}
    100% {left: 0%;}
} */


.contact{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: lightsalmon;
    position: sticky;
    top: 3px;
    z-index: 10;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 20px;
}

.button{
    background-color: brown;
    padding: 10px;
    font-weight: bold;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button:hover{
    background-color: coral;
    color: white;
    transform: scale(1.1);
}


.topic {
    background-color: coral;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px auto;
    font-weight: bold;
    width: 85%;
    position: relative;
    transition: all 0.4s ease-out;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    overflow: hidden;
    padding: 5px;
}



.topic:hover{
    transform: scale(1.10);
    background-color: brown;
}


.QA:hover{
    .question{
        color: white;
    }
    cursor: pointer;
}


.answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease;
  color: white;
  padding: 0 10px;
  border-radius: inherit;
}


.arrow { float: left; transition: transform 0.3s ease; }

.QA.open .answer {
  max-height: 200px;
  opacity: 1;
  padding: 10px;
  color: black;
}


.topic:hover{
    .answer{
        color: white;
    }
    .QA.open .answer:hover{
    color: white;
}
}